@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" );

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Bona+Nova+SC, sans-serif ;
}

body {
   min-height: 100vh;
   background-color: #E63229;

}

.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 45px;
    color:ghostwhite ;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    margin-left: 12px;
    font-size : 22px;
    color: ghostwhite;
    font-weight: 500;
    text-decoration: none;
    
}

.navbar a::before {
    content: '';
    position: absolute;
    top:100%;
    left: 0;
    width: 0;
    height: 2px;
    background: ghostwhite;
    transition: 0.3s;

}

.navbar a:hover::before{
    width: 100%;
}