.linha-com-texto {
    display: flex;
    align-items: center;  
    width: 100%;           
}

.linha-com-texto::before {
    content: '';          
    flex: 0 0 10%;        
    border-top: 5px solid #c12f28; 
}

.linha-com-texto span {
    padding: 0 10px;      
    font-weight: bold;    
    color: #c12f28;           
    background-color: #FFF3F3; 
    font-size: 34px;
}

.linha-com-texto::after {
    content: '';          
    flex: 1;           
    border-top: 5px solid #c12f28; 
}

.quadrado {
    position: relative;    
    height: 358px;           
    width: 347px;          
    background-color: #c12f28;
    top: 130px;               
    left: 380px;              
    
    border-radius: 15px;    
}

.quadradoc {
    position: relative;     
    width: 360px;           
    height: 360px;          
    background-color: #ABABAB;  
    top: -310px;              
    left: 292.9px;         
    border-radius: 15px;
}

.texto {
    position: relative;    
    top: -635.5px;              
    left: 60%;         
    transform: translate(0%, 0%); 
    color: #c12f28;          
    font-size: 34px;    
    max-width: 500px;        
    word-wrap: break-word;       
    white-space: normal;        
}

footer{
    position: absolute;
    bottom: 0;        /* Coloca o rodapé no fundo da página */
    width: 100%;      /* Garante que o rodapé ocupe toda a largura da tela */
    height: 100vh;

}

.retangulo {
    position: absolute;   
    bottom: -2950px;             
    left: 0;               
    width: 100%;        
    height: 35%;         
    background-color: #c12f28; 
}

.retangulop {
    position: absolute;    
    bottom: -2950px;             
    left: 0;              
    width: 100%;          
    height: 50px;          
    background-color: #000000; 
}

.imagemlogo {
    position: absolute; 
    bottom: -2889.8px; 
}

.imagemgroup {
    position: absolute; 
    bottom: -2788px; 
    left: 361.4px; 
}

.imagemrectangle {
    position: absolute; 
    bottom: -2863.5px; 
    right: 1214px;
}

.imagemvector {
    position: absolute;
    bottom: -2742.6px; 
    left: 360.5px;
}

.imagemvector1 {
    position: absolute; 
    bottom: -2836.25px; 
    left: 357px; 
}

.imagemvector2 {
    position: absolute; 
    bottom: -2866.94px; 
    left: 354.25px;
}

.texto1 {
    position: absolute;    
    bottom: -2742.8px;              
    left: 395px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.texto2 {
    position: absolute;    
    bottom: -2787.8px;              
    left: 395px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.texto3 {
    position: absolute;    
    bottom:-2833px;              
    left: 395px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.texto4 {
    position: absolute;    
    bottom: -2871.64px;              
    left: 395px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.imagemrectangle1 {
    position: absolute; 
    bottom: -2863.5px;  
    right: 868.4px; 
}

.texto5 {
    position: absolute;    
    bottom: -2765.8px;              
    left: 720.63px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 330px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.texto6 {
    position: absolute;
    bottom: -2802.641px;              
    left: 720.63px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.texto7 {
    position: absolute;
    bottom: -2841.991px;              
    left: 720.63px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.imagemrectangle2 {
    position: absolute; 
    bottom: -2863.5px;  
    right: 370px; 
}

.texto8 {
    position: absolute;    
    bottom: -2743px;              
    left: 1204.62px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.texto9 {
    position: absolute;    
    bottom: -2779px;              
    left: 1204.62px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.texto10 {
    position: absolute;    
    bottom: -2815px;              
    left: 1204.62px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.texto11 {
    position: absolute;    
    bottom: -2851px;              
    left: 1204.62px;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

.imagemvetor3 {
    position: relative; 
    top: -887.1px;  
    right: -630.3px; 
}

.texto12 {
    position: relative;    
    top: -911.1px;              
    left: 43.19%;             
    transform: translate(0%, 0%); 
    color: #ffffff;          
    font-size: 14px;       
    max-width: 500px;             
    word-wrap: break-word;        
    white-space: normal;         
    font-family: 'Poppins', sans-serif; 
}

